div.ms_nav_wrapper ul > li {
  cursor: pointer;
}
$demo-blue: #005BA6;
$demo-gray: #D6D6D6;
$demo-placeholder: #C7C7C7;
$demo-border: #E6E6E6;
$border-width: 2px;
$baseColor: #337ab7;
@keyframes animationCloseMenu {
  0% {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}
  10% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  70% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@media (max-width: 991px) {
  .ms_nav_close i {
    top: -10px;
    animation: animationCloseMenu 1s infinite;
  }
}

.ms_nav_close i {
  cursor: pointer;
}

div.ms_sidemenu_inner > div.ms_logo_inner > div.ms_logo > input {
  position: absolute;
  top: 56px;
  right: 0;
  left: 14px;
  bottom: 0;
  width: 52px;
  height: 52px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
}
div.ms_sidemenu_inner > div.ms_logo_inner > div.ms_logo_open > input {
  position: absolute;
  top: 45px;
  right: 0;
  left: 74px;
  bottom: 0;
  width: 52px;
  height: 52px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
}
a:not([href]):not([tabindex]) {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.size-icon {
  font-size: 25px;
}
.notify {
  position: relative;
  top: -22px;
  right: -9px;
}
.heartbit {
  position: absolute;
  top: -60px;
  right: 55px;
  height: 25px;
  width: 25px;
  z-index: 10;
  border: 5px solid #ef5350;
  border-radius: 70px;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: 1s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: heartbit;
  animation-play-state: running;
  animation-timing-function: ease-out;
}
.point {
  width: 6px;
  height: 6px;
  border-radius: 30px;
  background-color: #ef5350;
  position: absolute;
  top: -50px;
  right: 65px;
}
@keyframes heartbit {
    0% {
        -ms-transform: scale(0);
        /* IE 9 */
        -webkit-transform: scale(0);
        /* Safari */
        transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.1;
    }
    50% {
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0.3;
    }
    75% {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 0.0;
    }
    
}
.language{
  color: white;
  cursor: pointer;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -9px;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
}
div.ms_header > div.ms_top_right > div.ms_top_lang2.language > span:nth-child(2){
  margin-right: 5px;
}
div.ms_header > div.ms_top_right > div.ms_top_lang2.language > span:nth-child(1):hover{
  color: #3bc8e7;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
div.ms_header > div.ms_top_right > div.ms_top_lang2.language > span:nth-child(2):hover{
  color:red;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  text-decoration: underline;
}
div.ms_header > div.ms_top_right > div.ms_top_lang2.language > span:nth-child(3):hover{
  color: turquoise;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  text-decoration: underline;
}
.ms_top_search{
  max-width: none;
  display: flex;
}
.ms_top_search input{
  border-top-right-radius: 0px;
  transition: 0.3s;
  border-bottom-right-radius: 0px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.ms_top_right{
  float: right;
}

.ms_top_search input:focus{
  width: 120px;
}
@media (max-width: 480px)
{
  .ms_nav_close{
    right: -5px;
  }
  .ms_top_search input{
    width: 70px;
  }
  .ms_top_search input:focus{
    width: 90px;
  }
  div.ms_header > div.ms_top_right > div.ms_top_lang2.language > span:nth-child(1){
    display: none;
  }
}

@media (max-width: 991px)
{
  .language {
    float: left;
    position: relative;
    top: 2px;
  }
  .ms_top_search input{
    width: 200px;
  }
  .ms_top_search input:focus{
    width: 400px;
  }
}
@media (min-width: 991px){
  .ms_top_search input{
    width: 300px;
  }
  .ms_top_search input:focus{
    width: 500px;
  }
}
.nhiemvu {
  color: $demo-blue;
  display: block;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  margin-top: 9px;
  margin-bottom: 15px;
  width: 100%;
  select {
      font-size: 15px;
      width: 100%;
      border: $border-width solid $baseColor;
      border-radius: 2px;
      font-weight: 400;
      color: inherit;
      padding:3px;
      line-height: normal;
      transition: border-color 0.2s ease, outline 0.2s ease;
      &[disabled],
      &:disabled {
          opacity: 0.4;
          cursor: not-allowed;
      }
      &:invalid {
          color: inherit;
      }
  }
}