<div class="main">
  <p>Manager User</p>
  <div class="list-items">
    <div class="item">
      <input type="checkbox">
      <label for="">Nguyễn Xuân Hưng 1</label>
      <span *ngIf="!user1" (click)="block_User()"><i class="fa fa-unlock"></i></span>
      <span *ngIf="user1" (click)="block_User()"><i class="fa fa-lock" aria-hidden="true"></i></span>
    </div>
    <div class="item">
      <input type="checkbox">
      <label for="">Nguyễn Xuân Hưng 1</label>
      <span><i class="fa fa-lock" aria-hidden="true"></i></span>
    </div>
    <div class="item">
      <input type="checkbox">
      <label for="">Nguyễn Xuân Hưng 1</label>
      <span><i class="fa fa-unlock" aria-hidden="true"></i></span>
    </div>
    <div class="item">
      <input type="checkbox">
      <label for="">Nguyễn Xuân Hưng 1</label>
      <span><i class="fa fa-unlock" aria-hidden="true"></i></span>
    </div>
    <div class="item">
      <input type="checkbox">
      <label for="">Nguyễn Xuân Hưng 1</label>
      <span><i class="fa fa-unlock" aria-hidden="true"></i></span>
    </div>
    <div class="item">
      <input type="checkbox">
      <label for="">Nguyễn Xuân Hưng 1</label>
      <span><i class="fa fa-unlock" aria-hidden="true"></i></span>
    </div>
    <div class="item">
      <input type="checkbox">
      <label for="">Nguyễn Xuân Hưng 1</label>
      <span><i class="fa fa-unlock" aria-hidden="true"></i></span>
    </div>
    <div class="item">
      <input type="checkbox">
      <label for="">Nguyễn Xuân Hưng 1</label>
      <span><i class="fa fa-lock" aria-hidden="true"></i>
      </span>
    </div>
  </div>
</div>